<li>
	{{name}}

	<button class="change-hungry" data-id="{{id}}" data-newburger="{{hungry}}">
		{{#if hungry}}Hungry!{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
